<h1 class="extrato-titlebar">
   <h2>FINTAP</h2>
   <h3>{{nomeCliente}}</h3>
</h1>
<div class="coluna-extrato">

   <div class="container-extrato">
      <p class="message-bar">Selecione o ano e o mês para o extrato correspondente</p>

      <div class="anos">
         <ul>
            <li  *ngFor="let ano of anos" [ngClass]="[ isSelectedAno == this.ano ? 'mesSelected' : '']"><span (click)="setAno(ano)" >{{ano}}</span></li>
         </ul>
      </div>
      <div class="meses">
         <ul>
            <li  *ngFor="let mes of meses" [ngClass]="[ isSelectedMes == this.mes ? 'mesSelected' : '']"><span (click)="setMes(mes)" >{{mesesNome[mes-1]}}</span></li>
         </ul>
      </div>

      <div class="caixa-extrato-data">
         <app-extrato [mes]="mes" [ano]="ano"></app-extrato>
      </div>

   </div>
</div>