<!doctype html>
<html lang="pt-br">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title>FINTAP - Fintech FIAP </title>

   <style>
      .bd-placeholder-img {
         font-size: 1.125rem;
         text-anchor: middle;
         -webkit-user-select: none;
         -moz-user-select: none;
         -ms-user-select: none;
         user-select: none;
      }

      @media (min-width: 768px) {
         .bd-placeholder-img-lg {
            font-size: 3.5rem;
         }
      }
   </style>

</head>

<body class="text-center">
   <div class="bg"></div>


   <form class="form-signin" (submit)="login()">
      <div class="mb-4">
         <img src="../../../../assets/FLogo.png" alt="" width="72" height="72">
      </div>
      <h1 class="h3-login">Login FINTAP</h1>
      <!-- <label for="inputEmail" class="sr-only">Email </label> -->
      <input type="email" id="inputEmail" class="form-control" 
      placeholder="Endereço de email" required autofocus
      [(ngModel)]="email" name="email">
      <!-- <label for="inputPassword" class="sr-only">Senha</label> -->
      <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required
      [(ngModel)]="senha" name="senha">
      <div class="checkbox mb-3">
         <label>
            <input type="checkbox" value="remember-me"> Lembrar
         </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Logar</button>
      <p class="mt-5">&copy; 2020-2022</p>
   </form>



</body>

</html>