<h1 class="extrato-titlebar">
   <h2>FINTAP</h2>
   <h3>{{nomeCliente}}</h3>
</h1>
<div class="coluna-extrato">

   <div class="container-extrato">
      <p class="message-bar">Selecione o ano e o mês para o extrato correspondente</p>

      <div class="anos">
         <ul>
            <li><span (click)="setAno(2020)">2020</span></li>
            <li><span (click)="setAno(2021)">2021</span></li>
            <li><span (click)="setAno(2022)">2022</span></li>
         </ul>
      </div>
      <div class="meses">
         <ul>
            <li><span (click)="setMes(1)">Jan</span></li>
            <li><span (click)="setMes(2)">Fev</span></li>
            <li><span (click)="setMes(3)">Mar</span></li>
            <li><span (click)="setMes(4)">Abr</span></li>
            <li><span (click)="setMes(5)">Mai</span></li>
            <li><span (click)="setMes(6)">Jun</span></li>
            <li><span (click)="setMes(7)">Jul</span></li>
            <li><span (click)="setMes(8)">Ago</span></li>
            <li><span (click)="setMes(9)">Set</span></li>
            <li><span (click)="setMes(10)">Out</span></li>
            <li><span (click)="setMes(11)">Nov</span></li>
            <li><span (click)="setMes(12)">Dez</span></li>
         </ul>
      </div>

      <div class="caixa-extrato-data">
         <app-extrato [mes]="mes" [ano]="ano"></app-extrato>
      </div>

   </div>
</div>